.organization_ed {
  font-weight: 700;
  line-height: 1.25;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.education-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.period {
  font-size: 12px;
  line-height: 1.25;
  color: #a8a8a8;
}
